
<!-- <button ng-controller='AddCtrl' ng-click='add()' type="button" class="btn btn-skin" data-toggle="modal" data-target="#myModal"><img src = "../pics/add.png" width="48"></button> -->
<button ui-sref="/add"><img src = "../pics/add.png" width="48"></button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" ng-controller="AddCtrl">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Trans</h4>
      </div>
      <div class="modal-body">
        <form>
         <div class = 'input-radio'>
          <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
          <label for="toggle-on" class="btn-toggle">Expense</label>
          <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
          <label for="toggle-off" class="btn-toggle">Income</label>
          <p>                      </p>
          </div>
          <div class = 'modal-input'>
            <label style="background:#b6c0c9;" >Amount</label>
            <input name="someid" type="number" ng-model="totalPrice" onkeypress="return isNumberKey(event)"/><!--<p>HKD</p>-->
            <script>
              $(function isNumberKey(evt){
                 var charCode = (evt.which) ? evt.which : event.keyCode
                 if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                 return true;
              }
              );
            </script>
          </div>
          <div class = 'modal-input'>
            <label style ="background: #cbdbda; ">Account</label>
            <!--<input type="text" />-->
            <select>
              <option value ="Mastercard">Mastercard 5566</option>
              <option value = "Wallet">My Wallet</option>
            </select>
          </div>
          <div class = 'modal-input'>
            <label style="background: #b6c0c9;">Category</label>
             <select>
               <option value ="1">Beauty</option>
                <option value = "2">Beverages</option>
                <option value = "3">Education </option>
                <option value ="4">Media</option>
                <option value = "5">Grocery</option>
                <option value = "6">Stationary</option>
                <option value = "7">Investment</option>
                <option value = "8">Dining</option>
                <option value = "9">Transport</option>
                <option value = "10">Entertainment</option>
                <Option value = "11">Clothing</Option>
                <span style="display:inline-block; width: YOURWIDTH;"></span>
             </select>
            <!--select-->
            <!-- <input type="text" onkeypress='validate(event)' /> -->
          </div>
          <div class = 'modal-input'>
            <label style="background: #afafbf;">Date</label>
            <input type ="date" id ="datepicker" >
              <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script>
                $( function() {
                  $( "#datepicker" ).datepicker();
                   } );
              </script> -->
          <div class = 'modal-input'>
            <label style ="background: #b6c0c9; ">Description</label>
            <input type="text" />
          </div>
          <div class = "scan button" src = '/scan.html'></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-skin" data-dismiss="modal">ADD</button>
      </div>
    </div>

  </div>
</div>
