<button type="button" data-toggle="modal" data-target="#addModal"><img src = "static/pics/add.png" width="48"></button>

<!-- Modal -->
<div ng-controller="AddCtrl" id="addModal" class="modal fade" role="dialog">

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Trans</h4>
      </div>
      <div class="modal-body">
        <form>
         <div class = 'input-radio'>
          <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
          <label for="toggle-on" class="btn-toggle">Expense</label>
          <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
          <label for="toggle-off" class="btn-toggle">Income</label>
          <p>                      </p>
          </div>
          <div class = 'modal-input'>
            <label style="background:#b6c0c9;" >Amount</label>

            <input ng-model="addAmount" type="number" onkeypress="return isNumberKey(event)"/><!--<p>HKD</p>-->

            <script>
              $(function isNumberKey(evt){
                 var charCode = (evt.which) ? evt.which : event.keyCode
                 if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                 return true;
              }
              );
            </script>
            <button id="scanBtn" ng-click="showScanPane()"><img src="static/pics/barcode.png" style="width: 40px; height: 40px;"></button>
          </div>
          <div class = 'modal-input'>
            <label style ="background: #cbdbda; ">Account</label>
            <!--<input type="text" />-->
            <select>
              <option value ="Mastercard">Mastercard 5566</option>
              <option value = "Wallet">My Wallet</option>
            </select>
          </div>
          <div class = 'modal-input'>
            <label style="background: #b6c0c9;">Category</label>
             <select ng-model="addLabel">
               <option ng-repeat="label in labels" value="{{label}}">
                 {{label}}
               </option>
                <span style="display:inline-block; width: YOURWIDTH;"></span>
             </select>
            <!--select-->
            <!-- <input type="text" onkeypress='validate(event)' /> -->
          </div>
          <div class = 'modal-input'>
            <label style="background: #afafbf;">Date</label>
            <input ng-model="addTime" type ="date" id ="datepicker" >
              <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script>
                $( function() {
                  $( "#datepicker" ).datepicker();
                   } );
              </script> -->
          <div class = 'modal-input'>
            <label style ="background: #b6c0c9; ">Description</label>
            <input ng-model="addDescription" type="text" />
          </div>
        </form>
        <well ng-if="useScan">
          <form action="/api/OCR" method="post" enctype="multipart/form-data">
            <div class="modal-body">
              <input type="file" name = "image"accept="image/*;capture=camera">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-skin">Upload</button>
              <!-- <input class="btn-skin" type="submit" value="Upload"> -->
            </div>
          </form>
        </well>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-skin" ng-click="submitForm()" ng-disabled="editForm.$invalid || isSaving" data-dismiss="#addModal">ADD</button>
      </div>
    </div>

  </div>
</div>
