<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <img src="static/pics/logo.jpg" width="60px" />
    <a class="navbar-brand" href="#">FinHACK</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-tabs">
      <li class="active" ui-sref-active="active"><a ui-sref="home">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="statistics">Statistics</a></li>
      <li ui-sref-active="active"><a ui-sref="coupon">Coupon</a></li>
      <li ui-sref-active="active"><a ui-sref="connect">Connect</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ui-sref-active="active"><a ui-sref="login">Log In</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
